img{
    width: 50%;

}
.Heading{
    width: 50%;
    text-align: center;
    
}
.table-1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.table-2{
    margin-top: 100px;
    text-align: center;
    width: 60%;
    border: 1px solid black;
    
}
th.table-2,td.table-2{
    border: 1px solid black;


}