img{
    width: 75%;

}
.Heading{
    width: 50%;
    text-align: center;
    
}
.table-1{
    margin-left: auto;
    margin-right: auto;
}
.table-2{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}